body {
    background-color: darkblue;
    color: white;
    font-family: sans-serif;
}

.smallText {
    font-size: 48px;
}

.mediumText {
    font-size: 80px;
}

.bigText {
    font-size: 100px;
}

#hint {
    display: flex;
    justify-content: center;
    COLOR: white;
    height: 150px;
}

#result {
    display: flex;
    justify-content: center;
}

#image {
    width: 125px;
    height: 125px;
}

#choiceTable {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: default;
    font-family: sans-serif;
    text-align: center;
    min-width: 500px;
    height: auto;
}

#choiceTable.bigText {
    font-size: 48px;
}

#choiceTable.mediumText {
    font-size: 36px;
}

#choiceTable.smallText {
    font-size: 20px;
}

#choiceTable td {
    background-color: limegreen;
    border: 2px solid white;
    width: 400px;
    height: 200px;
    padding: 10px;
    cursor: hand;
    color: white;
}

#choiceTable td span {
    width: 100%;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#changegame {
    CURSOR: default;
    font-family: sans-serif;
    width: 500px;
}

.button {
    background-color: yellow;
    color: black;
    cursor: hand;
    height: 50px;
    font-size: 24px;
    text-align: center;
}

#stats {
    display: flex;
    justify-items: center;
}

#stats td:first-child {
    width: 150px;
    text-align: right;
}

#stats td:last-child {
    width: 150px;
    text-align: left;
}
